# Preprocesamiento de datos

### Importamos nuestras librerías de trabajo

In [ ]:
import pandas as pd
import numpy as np

### Definimos df (dataframe) como nuestra dataset contenido ahí

Visualizamos nuestra base de datos en df

In [ ]:
df = pd.read_csv('/work/Notebooks/Titanic/Titanic - Train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Utilizamos los métodos .head y .tail para visualizar nuestro dataset de pie a cabeza

df.head(n) => Presenta las primeras 'n' filas del dataframe (base de datos)

df.tail(n) => Presenta las últimas 'n' filas del dataframe (base de datos)

In [ ]:
df.head(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

### Reemplazamos la cabecera de nuestro dataset utilizando el método .columns para que sea más fácil de entender los datos para nosotros

df.columns => Reemplaza los títulos de las columnas de nuestras variables

In [ ]:
cabecera = ["ID","Sobrevivientes","Clases","Nombres","Género","Edad","Hermanos","Hijos","Ticket","Tarifa","Cabina","Embarque"]

df.columns = cabecera
df.head()

,ID,Sobrevivientes,Clases,Nombres,Género,Edad,Hermanos,Hijos,Ticket,Tarifa,Cabina,Embarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Ahora lo que necesitamos saber es qué tipo de datos tenemos en cada columna y verificar si hay alguna anomalía y corregirlo, para que no nos presente algún inconveniente más adelante al momento de procesar los datos

df.dtypes => Nos devuelve la información de los tipos de datos existentes

In [ ]:
df.dtypes

ID                  int64
Sobrevivientes      int64
Clases              int64
Nombres            object
Género             object
Edad              float64
Hermanos            int64
Hijos               int64
Ticket             object
Tarifa            float64
Cabina             object
Embarque           object
dtype: object

### Análisis estadístico de los datos nos puede decir si hay incosistencias en nuestros datos como extremos atípicos y grandes desviaciones

df.describe() => Devuelve una serie con un resumen descriptivo que incluye el número de datos (cantidad de registros en el data set), su suma, el mínimo, el máximo, la media, la desviación estándar y los cuartiles. 

<br />
Como podemos observar solo procesa datos numéricos y omite los datos categóricos, para eso debemos utilizar otro método para llegar al fondo de toda nuestra información  

<br />
df.describe(include = "all") => Incluye datos categóricos de todas las filas y columnas del dataframe

In [ ]:
df.describe()

,ID,Sobrevivientes,Clases,Edad,Hermanos,Hijos,Tarifa
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df.describe(include = "all")

,ID,Sobrevivientes,Clases,Nombres,Género,Edad,Hermanos,Hijos,Ticket,Tarifa,Cabina,Embarque
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Lester, Mr. James",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

### Para finalizar con nuestra exploración exhaustiva utilzaremos el método .info que nos visualiza las 30 filas superiores e inferiores del dataframe

df.info => Visualiza 30 filas del dataset

In [ ]:
df.info

<bound method DataFrame.info of       ID  Sobrevivientes  Clases  \
0      1               0       3
1      2               1       1
2      3               1       3
3      4               1       1
4      5               0       3
..   ...             ...     ...
886  887               0       2
887  888               1       1
888  889               0       3
889  890               1       1
890  891               0       3

                                               Nombres  Género  Edad  \
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

     Hermanos  Hijos            Ticket   Tarifa Cabina Embarque
0           1      0         A/5 21171   7.2500    NaN        S
1           1      0          PC 17599  71.2833    C85        C
2           0      0  STON/O2. 3101282   7.9250    NaN        S
3           1      0            113803  53.1000   C123        S
4           0      0            373450   8.0500    NaN        S
..        ...    ...               ...      ...    ...      ...
886         0      0            211536  13.0000    NaN        S
887         0      0            112053  30.0000    B42        S
888         1      2        W./C. 6607  23.4500    NaN        S
889         0      0            111369  30.0000   C148        C
890         0      0            370376   7.7500    NaN        Q

[891 rows x 12 columns]>

### Manipulación de datos, llegamos al punto en el que analizamos con detenimiento si debemos corregir datos perdidos, ya que lo que harían es entorpecer nuestro proceso de modelamiento, tenemos ciertas opciones las cuáles son:

    1. Verificar con la persona que recopiló los datos si se puede encontrar el valor faltante
    2. Eliminar los datos donde se encuentra un valor perdido
    3. Reemplazar los datos, esto se puede hacer calculando el valor promedio de la variable completa (Solo en caso para datos numéricos)
    4. Dejar los datos faltantes así como datos perdidos

Supongamos que nos decidimos por eliminar datos faltantes, utilizaremos el método .dropna, procederemos a seleccionar la fila o columna utilizando el comando axis, pero normalmente no es lo ideal porque nos deshacemos de un gran número de datos que pueden sernos útil, para eso tenemos otras opciones  
<br />
Como podemos observar en nuestro dataset en la columna *Cabina* es donde más hay datos faltantes, una buena opción sería hacer: 

<br />

<df.dropna(subset = ["Cabina"], axis = 0, inplace = True)> Estaríamos eliminando los datos de la columna *Cabina* que sean faltantes pero no nos conviene del todo  

<br />
Otra opción sería reemplazar datos numéricos en donde hagan falta como es el caso de la Edad en nuestro trabajo, por un valor promedio de la misma columna, utilizando el método .mean, posteriormente nos arroja un valor muy cercano a 30 el cual fue el que promediamos y lo definimos para que más adelante sea usado como argumento para reemplazar los valores NaN, utilizamos el método .replace con el argumento promedio para deshacernos de esos datos

<br />
df.dropna => Consiste en elegir la fila o columna que contenga valores faltantes y eliminarla

axis = 0 => Para eliminar filas

axis = 1 => Para eliminar columnas

df["Edad"].mean() => Nos devuelve el valor promedio que se encuentra en la columna *Edad*

df = df["Edad"].replace(np.nan, promedio) => Estaríamos reemplazando el argumento *promedio* en lugar de valores *NaN* en nuestra columna *Edad*

In [ ]:
df["Edad"].mean()

29.69911764705882

In [ ]:
# Promedio de edades

promedio = 30

In [ ]:
df["Edad"] = df["Edad"].replace(np.nan, promedio)

### Como podemos observar en los campos que contenían *NaN* han sido sustituidos por el valor 30 (promedio de edades)

In [ ]:
# Visualizamos los 11 primeros datos de la columna

df["Edad"].head(11)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5     30.0
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Edad, dtype: float64

### Cambiando variables categóricas por numéricas, tal es el caso de la columna *Género* en la que tenemos 2 tipos de datos: hombre o mujer, es un tipo de dato que podemos cambiar para que sea calculable dentro del modelamiento

Para esto utilizaremos el método pd.get_dummies() para hacer dicha tarea, dividiendo la columna en 2 una para hombres y otra para mujeres, sin embargo no es del todo conveniente tener dos o más columnas parecidas, porque podría causarnos un error al momento de ejecutar un algoritmo matemático, entonces eliminaremos una de las dos columnas sin perder información utilizando el método .drop_first = True, en nuestro método pd.get_dummies(), quedando así:  
<df = pd.get_dummies(df, columns = ["Género"], drop_first = True)>  
<br />
pd.get_dummies => Transforma nuestros datos categóricos en datos numéricos  
df = pd.get_dummies(df, columns = ["Género"], drop_first = True) => Transforma nuestros datos categóricos a numéricos y elimina una columna que no usaremos en el modelamiento haciendo la información más precisa

In [ ]:
df = pd.get_dummies(df, columns = ["Género"], drop_first = True)

In [ ]:
# Nuestra nueva columna

df["Género_male"].head(11)

0     1
1     0
2     0
3     0
4     1
5     1
6     1
7     1
8     0
9     0
10    0
Name: Género_male, dtype: uint8

### Podemos renombrar la columna utilizando el método .rename, asignando el nombre actual y nuevo nombre como key y value

df.rename => Este método requiere que se le asigne un diccionario con el nombre original como clave y el nuevo nombre como valor.

In [ ]:
# Renombramos la columna deseada

df = df.rename(columns={'Género_male':'Género'})

### Observamos que de nuevo utilizamos el mismo nombre en nuestra columna pero ahora con los valores binarios en *Género*

In [ ]:
# Etiqueta con el nombre Género en la columna

df["Género"].head(11)

0     1
1     0
2     0
3     0
4     1
5     1
6     1
7     1
8     0
9     0
10    0
Name: Género, dtype: uint8

### Agrupamos los datos en compartimientos (rangos) podemos mejorar la precisión de los modelos predictivos, a su vez puede mejorar la comprensión de la distribución de los datos 

El método es pd.cut, pero primero debemos segmentar la información, para eso creamos unos rangos a nuestro gusto con el comando **bins** y asignamos unas etiquetas preferiblemente numéricas para el Machine Learner en una variable llamada names, los números contenidos en names simplemente comprenden los rangos distribuidos de esa manera, significa que:  
<br />

0 ~ 5 años = 1

6 ~ 12 años = 2

13 ~ 18 años = 3

19 ~ 35 años = 4

36 ~ 60 años = 5

61 ~ 100 años = 6

<br />
bins => Crea los rangos que deseamos en la distribución

labels => Etiquetas

pd.cut => Segmenta la información en rangos

In [ ]:
# Rangos y etiquetas

bins = [0, 5, 12, 18, 35, 60, 100]

names = ["1","2","3","4","5","6"]

In [ ]:
df["Edad"] = pd.cut(df["Edad"], bins, labels = names)

In [ ]:
df.head(7)

,ID,Sobrevivientes,Clases,Nombres,Edad,Hermanos,Hijos,Ticket,Tarifa,Cabina,Embarque,Género
0,1,0,3,"Braund, Mr. Owen Harris",4,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",5,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",4,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",4,0,0,373450,8.0500,NaN,S,1
5,6,0,3,"Moran, Mr. James",4,0,0,330877,8.4583,NaN,Q,1
6,7,0,1,"McCarthy, Mr. Timothy J",5,0,0,17463,51.8625,E46,S,1

### Trabajo completado

![link text](https://media.giphy.com/media/fDzM81OYrNjJC/source.gif?cid=ecf05e471mkgebs0ci5cquqshmfeg7fbpcbmws5rspjgh31e&rid=source.gif&ct=g)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=4ec84517-f553-446b-9032-1da3132bd62a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>